@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>METAL REVERIES</h1>
    <p class="lead">A metalhead's album heaven</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>
            Buy albums from your favorite bands!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bands</h2>
        <p>Get in direct contact or follow the social media accounts of your favorite bands!</p>
    </div>
    <div class="col-md-4">
        <h2>Theme</h2>
        <p>Enjoy the beautiful silver theme of our site!</p>
    </div>
</div>