<!--model IEnumerable<MetalReveries.Models.Genre>-->

@{
    ViewBag.Title = "Genres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genres</h2>

<div class="form-group">
    @Html.ActionLink("NEW GENRE", "New", "Genres", null, new { @class = "btn btn-primary" })
</div>

<table id="genres" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Genre</th>
            <th>Album Count</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#genres").DataTable({
                ajax: {
                    url: "/api/genres",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, genre) {
                            return "<a href='/genres/edit/" + genre.id + "'>" + genre.name + "</a>";
                        }
                    },
                    {
                        data: "albumCount"
                    },
                    {
                        data: "id",
                        render: function (data, type, genre) {
                            return "<button class='btn-link js-delete' data-genre-id=" + data + " data-genre-count=" + genre.albumCount + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#genres").on("click", ".js-delete", function () {
                var button = $(this);
                if (button.attr("data-genre-count") != "0") {
                    bootbox.alert("Only genres not represented by any album can be deleted!");
                }
                else {
                    bootbox.confirm("Are you sure you want to delete this genre?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/genres/" + button.attr("data-genre-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                }
            });
        })
    </script>
}
