
@{
    ViewBag.Title = "AlbumsOwned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums Owned</h2>


<table id="albums" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Album</th>
            <th>Band</th>
            <th>Genre</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#albums").DataTable({
                ajax: {
                    url: "/api/albums/get2",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                        /*
                        render: function (data, type, album) {
                            return "<a href='/albums/edit/" + album.id + "'>" + album.name + "</a>";
                        }*/
                    },
                    {
                        data: "band.name"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "releaseDate"
                    }
                ]
            });
        })
    </script>
}
