

@{
    ViewBag.Title = "AlbumsOwned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums Owned By The User</h2>
<br />
<br />
<input type="hidden" id="customInput" data-value="@ViewBag.UserId"/>

<table id="albums" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Album</th>
            <th>Band</th>
            <th>Genre</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var userId = $("#customInput").data("value");
            $("#albums").DataTable({
                ajax: {
                    url: "/api/albums/get3/" + userId,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                        /*
                        render: function (data, type, album) {
                            return "<a href='/albums/edit/" + album.id + "'>" + album.name + "</a>";
                        }*/
                    },
                    {
                        data: "band.name"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "releaseDate"
                    }
                ]
            });
        })
    </script>
}