
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Users</h2>


<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Albums Bought</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/getUsers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "email"
                    },
                    {
                        data: "albumsBought",
                        render: function (data, type, user) {
                            return "<a href='/albums/AlbumsOwnedOtherUser/" + user.id + "'>" + data + "</a>";
                            //return "<a href='/albums/index'>" + data + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/account/delete/" + data + "'>Delete</a>";
                        }
                    }
                ]
            });
        })
    </script>
}
